.wrapper {
	.titleContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 17px;

		.icon {
			margin-right: 8px;
		}

		.title {
			display: flex;
			align-items: center;
		}

		.controls {
			display: flex;
			justify-content: space-between;
			align-items: center;

			width: 36px;
		}
	}

	.stocks {
		width: 100%;

		.row {
			overflow-x: scroll;
			width: 750px;

			scrollbar-width: none; /* Firefox */
			-ms-overflow-style: none; /* Internet Explorer 10+ */

			.row__inner {
				transition: 450ms transform;
				font-size: 0;
				white-space: nowrap;

				.tile {
					position: relative;
					display: inline-block;
					width: 299px;
					margin-right: 21px;
					font-size: 20px;
					cursor: pointer;
					transition: 450ms all;
					transform-origin: center left;
				}
			}
		}

		.row::-webkit-scrollbar {
			/* WebKit */
			width: 0;
			height: 0;
		}
	}
}
