.wrapper {
	.titleContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;

		margin-bottom: 17px;

		.icon {
			margin-right: 8px;
		}

		.title {
			display: flex;
			align-items: center;
		}

		.controls {
			display: flex;
			justify-content: space-between;
			align-items: center;

			cursor: pointer;

			width: 36px;
		}
	}

	.recentContainer {
		display: flex;
		align-items: center;
		max-width: 761px;
		overflow-y: auto;

		margin: auto;

		.itemContainer {
			display: flex;
			overflow-y: hidden;

			transition: 450ms all;

			.tile {
				margin-right: 21px;
			}
		}
		.itemContainer::-webkit-scrollbar {
			display: none;
		}
	}
}

@media (min-width: 1280px) and (max-width: 1920px) {
	.recentContainer {
		max-width: 1280px;
	}
}
