* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--white: #fff;

	--gray-1: #f5f8fa;
	--gray-2: #657786;
	--gray-3: #14171a;

	--primary: #0047bb;
	--secondary: #f06400;
	--success: #04d361;
	--danger: #d64b45;
}

@media (max-width: 1080px) {
	html {
		font-size: 93.75%;
	}
}

@media (max-width: 720px) {
	html {
		font-size: 87.5%;
	}
}

body {
	background: var(--white);
}

body,
input,
textarea,
button {
	font: 500 1rem Montserrat, sans-serif;
	color: var(--gray-2);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 600;
	color: var(--gray-3);
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.125rem;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

input:focus-visible {
	outline: none;
}
