.wrapper {
	display: flex;
	flex-direction: column;

	height: 100vh;

	padding: 32px 20px;

	background-color: var(--gray-1);
	border-radius: 24px 0px 0px 0px;

	.title {
		display: flex;

		margin-bottom: 32px;

		img {
			margin-right: 8px;
		}
	}

	.chartWrapper {
		display: flex;
		flex-direction: column;
		background-color: var(--white);

		margin-bottom: 39px;
		padding: 20px 25px;

		box-shadow: 0px 4px 12px rgba(222, 222, 231, 0.4);
		border-radius: 8px;

		.card {
			display: flex;
			align-items: center;

			flex: 1;

			background-color: var(--white);
			border-radius: 8px;

			margin-bottom: 11px;

			.favorite {
				width: 16px;
				height: 16px;

				margin-right: 1rem;

				img {
					width: 16px;
					height: 16px;
				}
			}

			.stockLogo {
				width: 36px;
				height: 36px;
			}

			.stockNameContainer {
				display: flex;
				flex-direction: column;
				justify-content: center;

				flex: 1;

				font-size: 1rem;

				line-height: 20px;

				margin-left: 12px;

				.stockLabel {
					font-weight: 500;
					color: var(--gray-3);
				}
			}

			.stockVariation {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;

				.price {
					img {
						margin-right: 4.59px;
					}

					span {
						font-family: "Montserrat", sans-serif;
						font-size: 1rem;
						font-weight: 600;
						line-height: 28px;

						color: var(--gray-3);
					}
				}

				.percentage {
					transition: all 0.2s ease-in-out;

					span {
						font-size: 0.875rem;
						line-height: 19.6px;
					}

					.positive {
						color: var(--success);
					}

					.negative {
						color: var(--danger);
					}
				}
			}
		}

		.chart {
			font: 400 1rem Montserrat, sans-serif;
			font-size: 0.6875rem;
			line-height: 12.1px;
		}
	}
}
